{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}CONTROLLER HOME{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Manual Controls</h2>
	<form method="post" action="/home">
                <input type="submit" value="Open Zone1" name="Open Zone1"/>
                <input type="submit" value="Close Zone1" name="Close Zone1"/>
                <input type="submit" value="Enable WaterDemo" name="Enable WaterDemo"/>
                <input type="submit" value="Disable WaterDemo" name="Disable WaterDemo"/>
        </form>

  <h2>Weather</h2>
  <h3>Weather Forecast</h3>
  <div class="weather_fore">
  <table>
	{% for key in weather_fore[0].keys() %}
	  <tr>
		<th style="text-align: right;">{{key}}</th> 
	    {% if key == "Date" %}
		{% for day in weather_fore %}
			<th style="text-align: center; padding-left: 10px">{{day[key]}}</th> 
		{% endfor %}
	    {% else %}
		{% for day in weather_fore %}
			<td style="text-align: center; padding-left: 10px">{{day[key]}}</td> 
		{% endfor %}
	    {% endif %}
	  </tr>
	{% endfor %}
  </table>
  </div>
  <h3>5-day Weather History</h3>
  <div class="weatherHist">
  <table>
	{% for key in weatherHist[0].keys() %}
	  <tr>
		<th style="text-align: right;">{{key}}</th> 
	    {% if key == "Date" %}
		{% for day in weatherHist %}
			<th style="text-align: center; padding-left: 10px">{{day[key]}}</th> 
		{% endfor %}
	    {% else %}
		{% for day in weatherHist %}
			<td style="text-align: center; padding-left: 10px">{{day[key]}}</td> 
		{% endfor %}
	    {% endif %}
	  </tr>
	{% endfor %}
  </table>
  </div>
  <h2>System</h2>
  <h3>Info</h3>
  <table>
	  <tr>
	  <th style="text-align: right;">Name</th>
	  <th style="text-align: left;">Value</th>
	  </tr>
	{% for key in systemInfo %}
	  <tr>
		<div class="sysInfo">
			<td style="text-align: right;">{{key}}</td> 
			<td style="text-align: left; padding-left: 10px">{{systemInfo[key]}}</td> 
		</div>
	  </tr>
	{% endfor %}
  </table>
  <h3>System Scheduled Events - CronTab</h3>
	<a href="{{ url_for('main.add_zone_event') }}">Add/Rm Zone Events</a>
	<br>
	<br>
	<div class="cron">
	  <table>
	  <tr>
	  <th style="text-align: center;">Name</th>
	  <th style="text-align: center;">Schedule</th>
	  <th style="text-align: center;">Description</th>
	  <th style="text-align: center;">Command</th>
	  </tr>
	{% for taskdict in croninfo %}
	  <tr>
			<td style="text-align: center;">{{taskdict['comment']}}</td> 
			<td style="text-align: center;">{{taskdict['time']}}</td> 
			<td style="text-align: center;">{{taskdict['info']}}</td> 
			<td style="text-align: center;">{{taskdict['command']}}</td> 
	  </tr>
	{% endfor %}
	  </table>
	</div>

{% endblock %}





