{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}CONTROLLER HOME{% endblock %}</h1>
{% endblock %}

{% block content %}
    <label >First Page post-login, placeholder</label>
  <h2>Manual Controls</h2>
	<form method="post" action="/home">
                <input type="submit" value="Open Zone1" name="Open Zone1"/>
                <input type="submit" value="Close Zone1" name="Close Zone1"/>
                <input type="submit" value="Enable WaterDemo" name="Enable WaterDemo"/>
                <input type="submit" value="Disable WaterDemo" name="Disable WaterDemo"/>
        </form>

  <h2>5-day Weather History</h2>
  <div class="weatherHist">
  <table>
	{% for key in weatherHist[0].keys() %}
	  <tr>
		<td style="text-align: right;">{{key}}</td> 
		{% for day in weatherHist %}
			<td style="text-align: left; padding-left: 10px">{{day[key]}}</td> 
		{% endfor %}
	  </tr>
	{% endfor %}
  </table>
  </div>
  <h2>System</h2>
  <h3>Info</h3>
  <!--<div >ZipCode: {{ zipcode }}</div>-->
  <table>
	  <tr>
	  <th style="text-align: right;">Name</th>
	  <th style="text-align: left;">Value</th>
	  </tr>
	{% for key in systemInfo %}
	  <tr>
		<div class="sysInfo">
			<td style="text-align: right;">{{key}}</td> 
			<td style="text-align: left; padding-left: 10px">{{systemInfo[key]}}</td> 
		</div>
	  </tr>
	{% endfor %}
  </table>
  <h3>System Scheduled Events - CronTab</h3>
	<div class="cron">
	  <table>
	  <tr>
	  <th style="text-align: center;">Name</th>
	  <th style="text-align: center;">Schedule</th>
	  <th style="text-align: center;">Description</th>
	  <th style="text-align: center;">Command</th>
	  </tr>
	{% for taskdict in croninfo %}
	  <tr>
			<td style="text-align: center;">{{taskdict['comment']}}</td> 
			<td style="text-align: center;">{{taskdict['time']}}</td> 
			<td style="text-align: center;">{{taskdict['info']}}</td> 
			<td style="text-align: center;">{{taskdict['command']}}</td> 
	  </tr>
	{% endfor %}
	  </table>
	</div>

{% endblock %}





